body {
    color: purple;
}

/* h1 {
    color: blue;
} */

section {
    color: aqua;
}

form {
    color: greenyellow;
}

/* some properties do not inherit their parents', so we can specify it using 'inherit' */
button, input {
    color: inherit;
}
