/*
    **basic syntax**
    selector {
        property: value;
    }
*/
h2 {
    color: indigo;
    background-color: antiquewhite;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: antiquewhite;
    background-color:darkred;
}
