/* universal selector */
/* * {
    color: cyan;
    background-color: cyan;
} */

/* element selectors */
body {
    background-color: #fefae0;
}

button {
    font-size: 30px;
    background-color: #dda15e;
}

/* element selector list */
h1, h2 {
    color: #283618;
}

/* id selector */
#signup {
    background-color: #bc6c25;
    color: #fefae0;
}

/* class selector */
.tag {
    background-color: #606c38;
    color: #fefae0;
    font-size: 16px;
}

/* descendant selector */
/* reads as "apply style to all <<element>> that are children of <<element/class>> */
.post a {
    color: red;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: turquoise;
}

/* adjacent selector: apply style to <<element>> directly adjacent to <<element>> */
h2 + button {
    font-size: 20px;
}

/* direct child/descendant selector: any <<element>> directly within <<element>> */
footer > a {
    color: green;
}

/* attribute selector */
input[type="password"] {
    color: red;
}

/* pseudo classes */
.post button:hover {
    color: whitesmoke;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: turquoise;
}

.post:nth-of-type(2n) {
    background-color: #c9c6b1;
}
